<%= content_for :title do %>
  <%= current_user.unread_conversations_count > 0 ? "(#{@unread_conversations_count}) Inbox" : "Inbox" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-4" id="conversation-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Inbox</h4>
        </div>
        <div class="panel-body fixed-height">
          <div class="flexbox-columns-start">
            <% @conversations.each do |conversation| %>
              <div class="conversation-link flexbox-start">
                <span class="flex-item-shrink"><%= image_tag conversation.other_user(current_user).one_avatar_url, class: "avatar-square" %></span>
                <div class="conversation-preview flexbox-columns flex-item">
                  <ul class="conversation-header list-unstyled list-inline flex-item">
                    <li><h6><%= conversation.other_user(current_user).first_name %></h6></li>
                    <li class="date"><%= conversation.last_message.created_at.strftime("%b %e") %></li>
                  </ul>
                  <div class="message-preview flex-item">
                    <span><%= conversation.last_message.content %></span>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="end-of-messages">
              <p>End of messages</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8" id="message-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= @selected_conversation.other_user(current_user).first_name %></h4>
        </div>
        <div class="panel-body fixed-height">
          <div id="wrapper">
            <div class="messages flexbox-columns-end flex-item">
              <% @selected_conversation.messages.order(created_at: :asc).each do |message| %>
                <div class="message-container flexbox-start flex-item">
                  <span class="flex-item-shrink"><%= image_tag message.user.one_avatar_url, class: "avatar-square-small" %></span>
                  <div class="message-content flex-item flexbox-columns">
                    <ul class="message-header list-unstyled list-inline flex-item">
                      <li><h6><%= message.user.first_name %></h6></li>
                      <li class="date"><%= message.created_at.strftime("%b %e, %l:%M%P") %></li>
                    </ul>
                    <%= simple_format message.content %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="message-input" id="newMessage">
            <textarea id="newTextarea" placeholder="Answer here..."></textarea>
            <div class="actions flexbox hidden">
              <button class="btn btn-stop hidden">Cancel</button>
              <button class="btn btn-send hidden">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>