<%= render 'shared/flashes' %>
<div class="navbar-wagon">
  <div class="container">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <% if user_signed_in? && current_user.unread_conversations? %>
          <div class="badge badge-blue"><%= @unread_conversations_count %></div>
        <% end %>
      </div>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>
        <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <% end %>
        <!-- Profile picture and dropdown -->
        <div class="">
          <div class="dropdown">
            <%= image_tag current_user.one_avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <!-- Login text link -->
        <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <% end %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
      <!-- Button (call-to-action) -->
      <%# link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            <% else %>
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

